
body{
 background: #f9f9f9;
 font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
#contenidoCuerpo{
   margin: 0px;
}
h1 {
	margin: 1em 0;
	text-align: center;
}
#container_tabs {
    width: 100%;
    display: inline-table; /*!!!!WARNING!!!!!! Para compatibilidad permite que se muestre bien
    					   /* de izquierda a derecha el nav bar de ventas*/ 
}    
#container_tabs input {
	height: 50px;
	visibility: hidden;
	width: 0px;
	margin: 0px;
	padding: 0px;
}
#container_tabs label {
	background: #f9f9f9;  /* Fondo de las pestañas */
	color: #888;  /* Color del texto de las pestañas */
	display: block;
	float: left;
	font-size: 1em;  /* Tamaño del texto de las pestañas */
	height: 50px;
    line-height: 3.6em;
	width: 33.3%;
	text-align: center;
}
#container_tabs label:nth-child(6) {
  width: 32% !important; /*Se agrega al componente de la mitad un % mayor para completar el 100%*/
}
#container_tabs input:hover + label {
	background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}
#container_tabs input:checked + label>div {
	width: 100%;
    height: 3px;
    background-color: #03A9F4;
}
#content {
	background: #F9F9F9;  /* Fondo del contenido */
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;  /* Alto del contenido */
	position: relative;
	width: 100%;
	z-index: 5;
}
#content div {
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
}
#content-1 p {
	clear: both;
	margin-bottom: 1em;
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}
#content-2 p {
	float: left;
	width: 48.5%;
}
#content-2 p.column-right {
	margin-left: 3%;
}
#content-2 p img {
	display: block;
	margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
	margin-bottom: 1em;
}
#content-3 ul {
	margin-left: 2em;
}
#container_tabs input#tab-1:checked ~ #content #content-1,
#container_tabs input#tab-2:checked ~ #content #content-2,
#container_tabs input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
    z-index: 100;
}
input.visible {
  visibility: visible !important;
}